files:
  "/var/app/staging/.env":
    mode: "0000644"
    owner: webapp
    group: webapp
    content: |
      NODE_ENV=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"NODE_ENV"}}`
      PORT=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"PORT"}}`
      POSTGRES_DATA_PATH=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_DATA_PATH"}}`
      POSTGRES_INIT_SCRIPTS_PATH=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_INIT_SCRIPTS_PATH"}}`
      POSTGRES_ADMIN_USER=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_ADMIN_USER"}}`
      POSTGRES_ADMIN_PASSWORD=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_ADMIN_PASSWORD"}}`
      POSTGRES_USER=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_USER"}}`
      POSTGRES_PASSWORD=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_PASSWORD"}}`
      POSTGRES_HOSTNAME=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_HOSTNAME"}}`
      POSTGRES_PORT=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_PORT"}}`
      POSTGRES_DATABASE=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_DATABASE"}}`
      POSTGRES_CONNECTION_STRING=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_CONNECTION_STRING"}}`