container_commands:
  00_create_env_file:
    command: |
        echo -e "NODE_ENV=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"NODE_ENV"}}`\n
        PORT=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"PORT"}}`\n
        POSTGRES_DATA_PATH=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_DATA_PATH"}}`\n
        POSTGRES_INIT_SCRIPTS_PATH=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_INIT_SCRIPTS_PATH"}}`\n
        POSTGRES_ADMIN_USER=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_ADMIN_USER"}}`\n
        POSTGRES_ADMIN_PASSWORD=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_ADMIN_PASSWORD"}}`\n
        POSTGRES_USER=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_USER"}}`\n
        POSTGRES_PASSWORD=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_PASSWORD"}}`\n
        POSTGRES_HOSTNAME=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_HOSTNAME"}}`\n
        POSTGRES_PORT=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_PORT"}}`\n
        POSTGRES_DATABASE=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_DATABASE"}}`\n
        POSTGRES_CONNECTION_STRING=`{"Fn::GetOptionSetting":{"Namespace":"aws:elasticbeanstalk:application:environment","OptionName":"POSTGRES_CONNECTION_STRING"}}`" > /var/app/current/.env