commands:
  00_echo_test:
    command: 'echo POSTGRES_USER: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "POSTGRES_USER"}}`'
  01a_psql_create_role:
    command: "psql -c \"CREATE ROLE `{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_USER\"}}` LOGIN PASSWORD '`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_PASSWORD\"}}`';\" postgres://`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_USER\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_PASSWORD\"}}`@`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_HOSTNAME\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_PORT\"}}`/postgres"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"
  01b_psql_create_database:
    command: "psql -c \"CREATE DATABASE \"`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_DATABASE\"}}`\"\" postgres://`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_USER\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_PASSWORD\"}}`@`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_HOSTNAME\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_PORT\"}}`/postgres"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"
  01c_psql_grant_privileges:
    command: "psql -c \"GRANT ALL PRIVILEGES ON DATABASE \"`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_DATABASE\"}}`\" TO `{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_USER\"}}`;\" postgres://`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_USER\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_ADMIN_PASSWORD\"}}`@`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_HOSTNAME\"}}`:`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_PORT\"}}`/postgres"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"