container_commands:
  03_edit_knexfile:
    command: "sudo sed -i 's|connection: process.env.POSTGRES_CONNECTION_STRING|connection: \"`{\"Fn::GetOptionSetting\": {\"Namespace\": \"aws:elasticbeanstalk:application:environment\", \"OptionName\": \"POSTGRES_USER\"}}`\"|g' /var/app/current/knexfile.js"