packages:
  yum:
    postgresql.x86_64: []
commands:
  01a_psql_create_role:
    command: "psql -c \"CREATE ROLE $POSTGRES_USER LOGIN PASSWORD '$POSTGRES_PASSWORD';\" postgres://$POSTGRES_ADMIN_USER:$POSTGRES_ADMIN_PASSWORD@$POSTGRES_HOSTNAME:$POSTGRES_PORT/postgres\n"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"
  01b_psql_create_database:
    command: "psql -c \"CREATE DATABASE \\\"$POSTGRES_DATABASE\\\"\" postgres://$POSTGRES_ADMIN_USER:$POSTGRES_ADMIN_PASSWORD@$POSTGRES_HOSTNAME:$POSTGRES_PORT/postgres\n"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"
  01c_psql_grant_privileges:
    command: "psql -c \"GRANT ALL PRIVILEGES ON DATABASE \"$POSTGRES_DATABASE\" TO $POSTGRES_USER;\" postgres://$POSTGRES_ADMIN_USER:$POSTGRES_ADMIN_PASSWORD@$POSTGRES_HOSTNAME:$POSTGRES_PORT/postgres\n"
    ignoreErrors: true
    test: "[ -x /usr/bin/psql ]"