name: Deploy master

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout source code
      uses: actions/checkout@v1

    - name: Generate deployment package
      run: git archive HEAD -o neighborhoodchefbe.zip

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v10
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: NeighborhoodChefBE
        environment_name: NeighborhoodChefBE-prod
        version_label: neighborhoodchefbe-${{job.container.network}}${{job.container.id}}-${{github.run_number}}${{github.run_id}}
        version_description: |
          SHA: ${{ github.SHA }}
          Branch: ${{ github.ref }}
        region: us-east-1
        deployment_package: neighborhoodchefbe.zip